body {
  background: white;
  color: black;
}

code.TeX, var.TeX { color: #203060; }

a:link { color: #186c18; }
a:visited { color: #407070; }
a:hover, a:active { color: #186c18; background: #f4f4f4; }
a:hover:visited, a:active:visited { color: #407070; background: #f4f4f4; }

td.main h1.error, .error { color: #b00000; }
.warn { color: #e07000; }
.stable { color: #1d4f91; }

td.main a img { background: white; }

td.main .navline, td.main .topline {
  color: white;
  background: #1c701c;
}

td, th {
  border-color: white;
  border-color: white;
}

div.navline a:link, div.topline a:link,
div.navline a:visited, div.topline a:visited {
  color: white;
  background: #1c701c;
}

div.navline a:hover, div.topline a:hover,
div.navline a:active, div.topline a:active {
  background: white;
  color: #1c701c;
}

td.bar-right a.fuckoffspam, td.bar-right p.fuckoffspam:hover {
  background: #dcdcdc;
  color: #dcdcdc;
}

td.main h1, td.main h2, td.main h3 { color: black; }
hr { background: #1c701c; }
td.main pre, .example { background: #d7e3d4; }

input, select, option, button {
  border-color: black;
  background: #f4f4f4;
  border-left-color: black;
  border-right-color: black;
}

td.bar-left, td.bar-right, td.bar-left-bot, td.bar-right-bot {
  background: #dcdcdc;
  color: #064806;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
}

td.bar-left hr, td.bar-right hr { background: black; }
td.bar-left, td.bar-right { border-bottom-color: #dcdcdc; }
td.bar-left-bot, td.bar-right-bot { border-top-color: #dcdcdc; }
td.bar-left h4, td.bar-right h4 { color: black; }

td.bar-left p:hover, td.bar-left p:active,
td.bar-right p:hover, td.bar-right p:active,
td.bar-left h4:hover, td.bar-left h4:active,
td.bar-right h4:hover, td.bar-right h4:active {
  background: white;
}


td.bar-left p:hover:visited, td.bar-left p:active:visited,
td.bar-right p:hover:visited, td.bar-right p:active:visited {
  color: #064806;
  background: white;
}
td.bar-left h4:hover:visited, td.bar-left h4:active:visited,
td.bar-right h4:hover:visited, td.bar-right h4:active:visited {
  color: black;
  background: white;
}

td.bar-right p.nohl, td.bar-right h4.nohl { background: #dcdcdc; }
p.menuhl, h4.menuhl { background: #f4f4f4; }
td.main table.hlt thead tr th { background: #d7e3d4; }
td.main table.hlt tfoot tr th { background: #d7e3d4; }
td.main table.hlt tbody tr.r1 td { background: #dcdcdc; }

/*
     FILE ARCHIVED ON 12:50:37 Jul 09, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:55:23 Nov 16, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 22.139 (3)
  exclusion.robots.policy: 0.269
  exclusion.robots: 0.289
  captures_list: 363.675
  LoadShardBlock: 327.559 (3)
  load_resource: 87.206
  esindex: 0.021
  PetaboxLoader3.resolve: 62.216
  RedisCDXSource: 8.157
  PetaboxLoader3.datanode: 281.746 (4)
*/